<div class="pages col-xs-9">
	<div class="row">
		<div class="col-xs-11">
			<div class="well page active">
				<h1 class="header">Editar Articulo</h1>
				<p>Aquí va cualquier clase de texto</p>
				<%= form_for :article, url: article_path(@article), class: 'form-horizontal', method: :patch  do |f| %>
					<% if @article.errors.any? %>
						Tienes <%= pluralize(@article.errors.count, "error") %>
						<% @article.errors.full_messages.each do |msg| %>
							<div class="alert alert-dismissible alert-warning">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<p><%= msg %></p>
							</div>
						<% end %>
					<% end %>
				<fieldset>
					<div class="form-group">
						<%= f.label :title, 'Titulo', class: "col-xs-2 control-label", text: 'Titulo'  %>
						<div class="col-xs-10">
							<%= f.text_field :title, class: "form-control", placeholder: 'Titulo' %>	
						</div>
						
					</div>
					<div class="form-group">
						<%= f.label :text, 'Descripción', class: "col-xs-2 control-label" %>
						<div class="col-xs-10">
							<%= f.text_area :text, class: "form-control", rows: '3'%>
							<span class="help-block">Puedes desplazar el scroll del cuadro de texto para subir o bajar</span>
						</div>
							
					</div>
					<div class="form-group">
						<div class="col-xs-10">
							<%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
							<%= f.submit class: "btn btn-primary" %>	
						</div>
					</div>
				</fieldset>
				<% end %>
			</div>
		</div>
	</div>
</div>