<!DOCTYPE html>
<html>
	<head>
	  <title>Andrés Arias Rauld</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
	</head>
	<body>
		<div class="header-panel shadow-z-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-3">
						<h1>Andrés<br />Arias Rauld</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid main">
			<div class="row">
				<nav class="col-xs-3 menu">
					<ul>
						<li class="withripple active" data-target="#inicio">
							Inicio
							<div class="ripple-container"></div>
						</li>
						<li class="withripple" data-target="#proyectos">
							Proyectos
							<div class="ripple-container"></div>
						</li>
						<li class="withripple" data-target="#screencast">
							ScreenCast
							<div class="ripple-container"></div>
						</li>
						<li class="withripple" data-target="#about">
							Sobre mi...
							<div class="ripple-container"></div>
						</li>
					</ul>
				</nav>
				<%= yield %>
			</div>
			<script>
			  window.page = window.location.hash || "#inicio";

			  $(document).ready(function () {
			    if (window.page != "#inicio") {
			      $(".menu").find("li[data-target=" + window.page + "]").trigger("click");
			    }
			  });

			  $(window).on("resize", function () {
			    $("html, body").height($(window).height());
			    $(".main, .menu").height($(window).height() - $(".header-panel").outerHeight());
			    $(".pages").height($(window).height());
			  }).trigger("resize");

			  $(".menu li").click(function () {
			    // Menu
			    console.log($(this).data("target"));
			    if (!$(this).data("target")) return;
			    if ($(this).is(".active")) return;
			    $(".menu li").not($(this)).removeClass("active");
			    $(".page").not(page).removeClass("active").hide();
			    window.page = $(this).data("target");
			    var page = $(window.page);
			    window.location.hash = window.page;
			    $(this).addClass("active");


			    page.show();

			    var totop = setInterval(function () {
			      $(".pages").animate({scrollTop: 0}, 0);
			    }, 1);

			    setTimeout(function () {
			      page.addClass("active");
			      setTimeout(function () {
			        clearInterval(totop);
			      }, 1000);
			    }, 100);
			  });

			  function cleanSource(html) {
			    var lines = html.split(/\n/);

			    lines.shift();
			    lines.splice(-1, 1);

			    var indentSize = lines[0].length - lines[0].trim().length,
			        re = new RegExp(" {" + indentSize + "}");

			    lines = lines.map(function (line) {
			      if (line.match(re)) {
			        line = line.substring(indentSize);
			      }

			      return line;
			    });

			    lines = lines.join("\n");

			    return lines;
			  }

			  $("#opensource").click(function () {
			    $.get(window.location.href, function (data) {
			      var html = $(data).find(window.page).html();
			      html = cleanSource(html);
			      $("#source-modal pre").text(html);
			      $("#source-modal").modal();
			    });
			  });
			</script>
		</div>
	</body>
</html>
